.section-title {
  text-align: center;
  width: 360px;
  font-weight: 700;
  font-size: 80px;
  margin: 0 auto;
}

#section-01 {
  background: orange;
}

#section-02 {
  background: red;
}

#section-03 {
  background: blue;
}

iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
