$first-section-delay-time: 3s;
$caption-font-size: 18px;
$main-title-font-size: 80px;
$weight-bold: 700;
$weight-light: 200;

@keyframes bg-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-out {
  from {
    transform: scale(1.4);
  }
  to {
    transform: scale(1);
  }
}

@keyframes first-background {
  from {
    opacity: 0;
    transform: scale(1.4);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

body {
  font-family: "source-han-sans-traditional", sans-serif, "微軟正黑體";
  overflow: hidden !important;
  background-color: black;
}

.text {
  color: white;
}

.background {
  user-select: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section:first-child {
  .background {
    animation: first-background 1.5s ease $first-section-delay-time both;
  }
}

.section {
  overflow: hidden;
}

h1.main-title {
  font-size: $main-title-font-size;
  font-weight: $weight-bold;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  max-width: 85%;
  line-height: 1.1;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.embedded-video {
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  @media screen and (orientation: portrait) {
    width: 95%;
  }
}

.fullscreen-video {
  width: 100%;
  height: 100%;
}

.vsc-initialized {
  #black-card {
    opacity: 0;
    display: none;
  }  
}

#black-card {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.bottom-left-caption {
  font-weight: $weight-light;
  color: black;
  background-color: rgba(255, 255, 255, .7);
  max-width: 500px;
  position: absolute;
  bottom: 40px;
  left: 80px;
  font-size: $caption-font-size;
  padding: .8em 1.3em;
  line-height: 1.4;
  text-align: justify;
  p {
    margin-bottom: .5em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.bottom-right-caption {
  font-weight: $weight-light;
  color: black;
  background-color: rgba(255, 255, 255, .7);
  max-width: 500px;
  position: absolute;
  bottom: 40px;
  right: 80px;
  font-size: $caption-font-size;
  padding: .8em 1.3em;
  line-height: 1.4;
  text-align: justify;
  p {
    margin-bottom: .5em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}